/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="submit"],
input[type=password],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    cursor: pointer;
    color: black;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* RESET ENDS */

html {
  height: 100%;
}

body{
  background-color: #F9F7E8;
  color: #333;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* MAIN START */
main{
  display: flex;
  flex-grow: 1;
  margin: 0 10vw;
  flex-direction: column;
  justify-content: space-between;
}
/* MAIN END */

p{
  font-size:1.3em;
  line-height: 1.5em;
}

header{
  background-color: #be8e84;
  color: white;
 }

 .logo-text{
  font-family: 'Pacifico', cursive;
  font-weight: 100;
 }

 nav{
  height: 3.5em;
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  justify-content: center;
  justify-self:center;

 }
 nav ul  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
 }
 nav ul li:hover{
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 100%;
    cursor: pointer;
    background-color: #f9f7e8 ;
    color: rgb(132	190	172	);
 }
header ul{
  list-style: none;
}

header  li{
  
text-transform: uppercase;
}

h1{
  color: rgb(132	190	172	);
}

/* HOME START */
.Home{
  margin: 0 auto;
  max-width: 80vw;
}
.Home p {
  font-size:1.3em;
  line-height: 1.5em;
  letter-spacing: 1px;
}
.homePage{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

section aside {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.box{
  min-height: 250px;
  min-width: 250px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 40px
}


.ul-items{
margin-bottom: 20px;
}
/* HOME ENDS */
.center{
  display: flex;
  justify-content: center;

}
footer{
  border-top:2px solid rgb(132	190	172	);
  background-color: rgb(132	190	172	);
  display: flex;
  justify-content: center;
  justify-items: center;
}

section{
 display: flex;
 flex-direction: column;
}

section h1{

  text-align:center;
  text-decoration: underline;

}


.single-project{
  cursor: pointer;
  border: solid 1px #be8e84;
  padding: 15px;
  background-color: #52a58b;
  color: #FFF;
  font-family: verdana;
}

.content{
  cursor: pointer;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-family: verdana;
  font-size: 14px;
  }

  .span-color{
    color:white;
    background-color: rgb(132	190	172	);
  }

  /* CONTACT START */
  .contact{
    display: flex;
    flex-direction: row;
  }

  .contact article{
    margin: 0 30px 0 30px;
  }

  .contact{
    display: flex;
    flex-direction: column; 
    text-align: center ;
  }

  .contact ul {
    display: flex;
    flex-direction: column;
  }
  
  .contact ul li{
     display: flex;
    flex-direction: row;
    align-items: center; 
    list-style-type: none;
    margin: 0 auto;
  }
  /* CONTACT END */
  
  @media only screen and (max-width: 800px) {

  nav ul  {
    width: 90vw;    
   }}